/* CORES EM ALTO CONTRASTE */
.contrast,
.contrast nav,
.contrast div,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
  background: #000 !important;
  color: #fff !important;
}

.contrast section {
  border: 1px solid #fff;
}

.contrast {
  padding: 1rem;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
  color: #fff !important;
}

.vw-text-active {
  color: #f2f2f2 !important;
}

.vw-text:hover {
  color: #9b9b9b !important;
}

.text-white a,
.text-white {
  color: #fff;
  text-decoration: none;
}

.nav-login  {
  background-color: #E6D520;
  color:#000;
  margin-left: 1em;
}
.nav-login:hover {
  background-color: #E74040;;
}

.header-content {
  background-color: #0061ff;
}

.header-background {
  background-image: url(../img/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  max-width: 1440px;
  width: 100%;
  margin: auto;
}
.form-control {
  display: block;
  width: 70%;
}
.header-content main {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  width: 573px;
}
.informacao {
  margin-top: -3rem !important;
  margin-bottom: -3rem !important;
  padding: 50px 0px;
}
.informacao .info-header {
  width: 500px;
}
.informacao .info-content {
  width: 600px;
}
.viagens {
  background-color: rgb(210 207 207);
}
.viagens a {
  background-color: #E74040;
  border: #E74040;
}
.viagens a:hover {
  background-color: #8f1818;
  border: #8f1818;
}

.cards {
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

.recebaNovidade {
  height: 500px;
}

.recebaNovidade form {
  max-width: 700px;
  width: 100%;
}

.footer_background_color {
  background-color: #252b42;
}
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 10px;
  background-color: #433c6d;
  color: #fff;
}
.card-img-top {
  height: 18rem;
}
@media only screen and (max-width: 760px) {
  .header-background {
    flex-direction: column;
  }

  .header-background main {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .header-content main {
    width: unset;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }

  .informacao div {
    flex-direction: column !important;
    justify-content: center !important;
  }

  .info-header,
  .info-content {
    width: unset !important;
  }

  .viagens .cards {
    justify-content: center !important;
  }

  footer > section {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .header-background {
    background-image: url(../img/header-background-full-hd.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1012px;
    max-width: 100%;
    width: 100%;
    margin: auto;
  }
}
